@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.container {
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

/* CategoryCard.css */
.gradient-border {
  border: 2px solid transparent;
  border-radius: 8px !important;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.gradient-border:hover {
  border-image: linear-gradient(to bottom, rgb(247, 79, 172), rgb(252, 178, 79))
    3;
  border-radius: 12px !important;
  box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
}

.myComponent:hover {
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.put:focus {
  box-shadow: 0px 0px 0px 4px #F4EBFF !important;;
  /*box-shadow: 0px 0px 0px -12px rgba(230, 127, 203, 1) */
  border-color: #E67FCA!important;
}

.myBtn:hover{
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}